<%= render partial: '/page/nav' %>
<%= render partial: '/page/content-header' %>

<div class="row text-center">
  <%= render partial: '/page/post-thumbnail', :locals => {:link_to_post => '/articles/1'} %>
  <%= render partial: '/page/post-thumbnail', :locals => {:link_to_post => '/articles/2'} %>
  <%= render partial: '/page/post-thumbnail', :locals => {:link_to_post => '/articles/3'} %>
  <%= render partial: '/page/post-thumbnail', :locals => {:link_to_post => '/articles/4'} %>
</div>